<br /><br />

<div class="container">
  <h4 class="text-center">All Categories</h4>
</div>

<br />

<div class="content table-responsive table-full-width">
  <table class="table table-striped">
    <thead>
    <th></th>
    <th>Name</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>

    <tr th:remove="all">
      <td></td>
      <td>Fantasy</td>
      <td></td>
      <td></td>
    </tr>

    <tr th:each="category : ${categories}">
      <td></td>
      <td th:text="${category.name}"></td>
      <td><a th:href="@{'/category/books/' + ${category.id}}" class="btn btn-primary">View</a></td>
      <td><a th:href="@{'/category/' + ${category.id}}" class="btn btn-default">Edit</a></td>
      <td><a th:href="@{'/category/delete/' + ${category.id}}" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
  </table>

</div>
</div>