<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments :: head"></head>

<body>
<div class="container">
  <nav th:replace="fragments :: navigation"></nav>
  <hr />
</div>

<div class="container" style="max-width: 600px;" th:object="${user}">

  <div class="card text-center">
    <span class=""card-img-top><img class="rounded-circle z-depth-2" th:src="@{/images/profile.jpg}" alt="Profile Image"
                                    data-holder-rendered="true" /></span>
    <div class="card-body">
    <h3 class="card-title" th:text="${user.name}"></h3>
    <p class="card-text"  th:text="${user.email}"></p>
    <p>Joined: <span class="card-text" th:text="${user.joinDate}"></span></p>
    <form th:action="@{/delete}" method="post">
      <button type="submit" class="btn btn-secondary" onClick="return confirm('Are you certain about this?')">
      <input type="hidden" th:field="${user}">Delete Account</input>
      </button>
    </form>
    </div>

</div>
</div>
</div>

</body>
</html>