<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
                xmlns: sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >

<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Diderot</title>
</head>

<body>

<nav th:fragment="navigation" class="navbar navbar-light bg-dark">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link">Diderot</a></li>
        <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
        <li class="nav-item"><a class="nav-link" href="/community">Community</a></li>
    </ul>
</nav>

</body>
</html>