<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

    <div class="header clearfix">
    <div class="bg"></div>
        <nav th:replace="fragments :: navigation"></nav>
    </div>

    <div class="jumbotron">
        <h1 th:text="${title}" class="display-3">Diderot</h1>
    </div>

    <div class="container">
    <form method="post" style="max-width: 600px;" th:object="${user}">
        <div class="form-label-group">
            <label th:for="username" class="bmd-label-floating"></label>
            <input type="text" th:field="*{username}" class="form-control" />
            <span th:errors="*{username}" class="error text-danger"></span>
        </div>

        <div class="form-label-group">
            <input class="form-control" type="email" th:field="*{email}" placeholder="Email" autofocus />
            <span th:errors="*{email}" class="error text-danger"></span>
        </div>

        <div class="form-label-group">
            <input class="form-control" type="password" th:field="*{password}" placeholder="Password" autofocus />
            <span th:errors="*{password}" class="error text-danger"></span>
        </div>

        <div class="form-label-group">
            <input class="form-control" type="password" th:field="*{verifyPassword}" placeholder="Verify Password" autofocus />
            <span th:errors="*{verifyPassword}" class="error text-danger"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Join Today</button>

    </form>
    </div>

</body>
</html>