<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div class="container">
    <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="container">

    <div class="container" style="max-width: 600px;">
        <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" align="center" alt="Logo" />
        <form th:action="${contextPath}/login}" method="post" class="form-signin">
            <h2 class="form-heading">Log in</h2>
            <p th:if="${loginEWrror}" class="error">Email or Password invalid, please verify</p>

            <div class="form-group" ></div>
                <input type="text" id="username" name="username"  th:placeholder="Username"
                       class="form-control" /> <br/>
                <input type="password"  th:placeholder="Password"
                       id="password" name="password" class="form-control" /> <br />

                <button class="btn btn-lg btn-secondary btn-block" value="Log in" type="submit"></button>
            <h4 class="text-center"><a href="${contextPath}/registration">Create an account!</a></h4>
        </form>

    </div>
</div>

</body>
</html>