<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div class="container">
  <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="container">
  <div class="container" style="max-width: 600px;">
    <div class="container">
      <img th:src="@{/images/login.jpg}" class="img-rounded center-block" width="300" height="300" alt="Logo"/>
    </div>

    <form th:action="@{/login}" method="post" class="form-signin">
    <p th:if="${param.error}" class="alert alert-danger" role="alert">Email or Password invalid, please verify</p>

    <div class="form-group"></div>
    <input type="text" id="email" name="email" th:placeholder="Email"
           class="form-control"/> <br/>
    <input type="password" th:placeholder="Password"
           id="password" name="password" class="form-control"/> <br/>

    <button class="btn btn-lg btn-secondary btn-block" value="LOG IN" type="LOG IN">Submit</button>
    <br />
    <h6 class="text-center">Not part of the Diderot community? <a th:href="@{/registration}">Create an account now!</a></h6>
  </form>

  </div>
</div>

</body>
</html>