<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
<div class="container">
  <nav th:replace="fragments :: navigation"></nav>
</div>

<div class="container">
  <form th:action="@{/join}" method="post">
    <button class="btn btn-raised btn-success" type="Submit">Go To Login Page</button>
  </form>

  <div class="container" style="max-width: 600px;">
    <form autocomplete="off" action="#" th:action="@{/join}" th:object="${user}" method="post" class="form-signin"
          role="form">
      <h2>Registration Form</h2>
      <div class="form-group">
        <input type="text" th:field="*{username}" placeholder="Userame" class="form-control"/>
        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-warning"></label>
      </div>

      <div class="form-group">
        <input type="password" th:field="*{password}" placeholder="Password" class="form-control"/>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-warning"></label>
      </div>

      <div class="form-group">
        <input type="password" th:field="*{passwordConfirm}" placeholder="Verify Password" class="form-control"/>
        <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
               class="alert alert-warning"></label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-secondary btn-block">Join Now!</button>
      </div>
    </form>
  </div>
</div>
</div>

</body>
</html>