<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table" th:object="${user}>

    <thead class="thead-dark">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Date Joined</th>
    </tr>
    </thead>

    <tr>
        <td th:field="*{username}">User<td>
        <td th:field="*{email}">Email</td>
        <td th:field="*{joinDate}">Date Joined</td>
    </tr>

</table>

</body>
</html>